h1 {
  color: red;
}

.ngn-default{
    padding: .50rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.ngn-success{
	color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.ngn-warning{
	color: #fff;
    background-color: #ec971f;
    border-color: #eb9316;
}    

.ngn-danger{
	color: #fff;
    background-color: #c9302c;
    border-color: #c12e2a;
}
.ngn-icon{
    display: inline;
}
.ngn-content{
    display: inline;
    vertical-align: super;
    margin-left: 5px;
}
/* .ngn-default .ngn-icon img{
	margin-top: 2px;
}	 */
.ngn-close{
	float: right;
    height: 18px;
	cursor: pointer;
}
.ngn-close:hover{
	opacity: 0.5;
}
.ngn-wrapper{
    max-width: 200px;
    min-width: 200px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

